-var siteName = "browser games";

-
    var pages = {
        home: {
            url: "/",
            name: "home"
        },
        aimalien: {
            url: "aimalien",
            name: "Aim Alien",
        }
    }