-var siteName = "browser games";
-var staticPath = "/static/"

-
    var pages = {
        home: {
            url: "/",
            name: "home",
            type: "home",
        },
        aimalien: {
            url: "aimalien",
            name: "Aim Alien",
            type: "game",
            srcCode: "https://github.com/ino777/browser_game/tree/main/assets/games/aimalien",
        }
    }