meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

title #{siteName}

link(rel="stylesheet", href=`${staticPath}stylesheet/style.css`)

//- UIkit CSS
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css")
//- UIkit JS
script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js")
script(src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js")
