@font-face {
    font-family: "PixelMplus12";
    src: url("../fonts/PixelMplus12-Regular.ttf");
}

#mainContainer {
    width: 1024px;
    height: 576px;
}

#mainCanvas {
    border: solid 1px black;
}

#mainCanvas {
    cursor: url("../images/aim.png") 16 16, auto;
}