block config
    include ../include/_config

doctype html
html(lang="ja")
    head
        block head
            include ../include/_head
    
    body
        include ../include/_header
        block content
            div.uk-container.uk-margin-top
                h2.uk-heading-small=pages[key].name
                div.uk-section-small
                    block game
                        div#mainContainer
                            canvas#mainCanvas
                            script(src=args.gameSrc)
                div.uk-section-small
                    block about
                        h4 ゲームについて
                div.uk-section-small
                    p ソースコードは #[a(href=pages[key].srcCode target="_blank") こちら] 
        block script